main {
  max-width: 1300px;
  margin: auto;
}
#topbar,
#copyright {
  max-width: 1300px;
  margin: auto;
}
.underline {
  text-decoration: underline;
}

/* .uk-modal-dialog ion-header {
  display: initial;
} */
#searcharea ion-card {
  overflow: visible;
}
a:hover {
  color: #0f6ecd;
  text-decoration: underline;
}